<div class="footer rodape p-5">
    <div class="container p-2">
        <div class="col-md-12 block social-network row justify-content-center">
                <a class="p-2" href="https://github.com/Projeto-We-Hug" target="_blank">
                <i class="fa fa-github" aria-hidden="true"></i>
            </a>
        </div>
        <div class="col-md-12 block row justify-content-center mt-2">
            <small class="text-light ms pequena justify-content-center">Todos os direitos reservados &copy; 2022</small>
        </div>
    </div>
</div>