@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap%27");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap%27");


h1 {
    font-family: Montserrat, sans-serif !important;
    color: black !important;
}

.txt1{
    font-family: Poppins, sans-serif !important;
    color: black !important;
}

button {
    width: 55% !important;
}
.btn2 {
    background-color: black !important;
    color: white;
}