<div class="container-fluid bg5 vw-100">

<div class="container d-flex justify-content-center flex-column align-items-center">

<h1 class="mb-3 titulo">Sobre Nós</h1>

<p class="w-50 text-center texto">Este é um projeto que foi desenvolvido dentro do bootcamp da Generation Brasil, Uma rede social com 
  fóruns voltados para discussões acerca de questões sociais, como preconceito e suas ramificações.</p>

</div>


  <div class="row d-flex justify-content-center p-5">

  <div class="row d-flex justify-content-space-around mb-3">
  <div class="card bg3 mr-3" style="width: 18rem">
    <img src="https://i.imgur.com/vEdREk2.jpg" class="card-img-top" alt="mayqdev" />
    <div class="card-body">
      <h4 class="text-center titulo mb-3">Mayquel de Oliveira</h4>
      <p id="osvalwd" class="card-text texto">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
        standard dummy text ever since the 1500s, when an unknown
      </p>
    </div>
  </div>

  <div class="card bg3 mr-3" style="width: 18rem">
    <img src="https://i.imgur.com/YcUvarw.png" class="card-img-top" alt="rafadev" />
    <div class="card-body">
      <h4 class="text-center titulo mb-3">Rafaella Santos</h4>
      <p id="osvalwd" class="card-text texto">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
        standard dummy text ever since the 1500s, when an unknown
      </p>
    </div>
  </div>

  <div class="card bg3 mr-3" style="width: 18rem">
    <img src="https://i.imgur.com/3pNC0P0.png" class="card-img-top" alt="maridev" />
    <div class="card-body">
      <h4 class="text-center titulo mb-3">Mariana Medrano</h4>
      <p id="osvalwd" class="card-text texto">
        Desenvolvedora Front-End com certificação de UI Designer e graduação em Pedagogia,  possui ampla experiência com atividades que  demandam habilidades de trabalho em equipe, comunicação, atenção aos detalhes e pesquisa.
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="card bg3 mr-3" style="width: 18rem">
    <img src="https://i.imgur.com/V1R0uah.png" class="card-img-top" alt="samueldev" />
    <div class="card-body">
      <h4 class="text-center titulo mb-3">Samuel Silva</h4>
      <p id="osvalwd" class="card-text texto">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
        standard dummy text ever since the 1500s, when an unknown
      </p>
    </div>
  </div>

  <div class="card bg3 mr-3" style="width: 18rem">
    <img src="https://i.imgur.com/1Ahl75W.png" class="card-img-top" alt="guuidev" />
    <div class="card-body">
      <h4 class="text-center titulo mb-3">Guilherme Moreira</h4>
      <p id="osvalwd" class="card-text texto">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
        standard dummy text ever since the 1500s, when an unknown
      </p>
    </div>
  </div>

  <div class="card bg3 mr-3" style="width: 18rem">
    <img src="https://i.imgur.com/nLdK4cg.png" class="card-img-top" alt="gabedev" />
    <div class="card-body">
      <h4 class="text-center titulo mb-3">Gabriele Pereira</h4>
      <p id="osvalwd" class="card-text texto">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
        standard dummy text ever since the 1500s, when an unknown
      </p>
    </div>
  </div>
</div>
</div>
</div>