<div class="container-fluid py-5 vw-100">
<p class="text-center pts font-weight-bold">...</p>

  <div class="pl-5">
<div class="col-md-6 p-5 mb-5 d-flex flex-column ">
  <legend>EQUIPE</legend>
  <h2 class="mb-3 font-weight-bold">sobre nós</h2>
  <p class="pgrande">Este projeto foi desenvolvido durante o bootcamp Pessoa Desenvolvedora Web oferecido pela <span
      class="font-weight-bold">Generation Brasil</span>.<br>
    Em equipe, desenvolvemos o back-end e front-end dessa ideia que formulamos juntos. Conheça o trabalho de cada um
    de nós.</p>
</div>
</div>

<div class="container">
  <div class="row justify-content-around">
    <div class="col-md-3 text-center">
      <div class="d-flex flex-column">
        <img id="mayq" src="https://i.imgur.com/TVZsyiH.png" class="mb-4 img-fluid" alt="mayqdev">
        <h4 class="text-center titulo">Mayquel de Oliveira</h4>
        <legend class="pequeno">DEV FULL STACK JAVA & P.O</legend>
        <p class="pcard">
          Apaixonado por tecnologia, busca, na programação, se desafiar diariamente e evoluir pessoal e
          profissionalmente. Aprende com facilidade e identifica-se com atividades que demandam liderança e trabalho em equipe.
        </p>
        <div class="block row justify-content-center">
          <a href="https://www.linkedin.com/in/mayqop/" target="_blank"><i class="fa fa-linkedin-square px-2"
              aria-hidden="true"></i></a>
          <a href="https://github.com/MayqOlipe" target="_blank"><i class="fa fa-github px-2" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
    <div class="col-md-3 text-center">
      <div class="d-flex flex-column">
        <img id="mari" src="https://imgur.com/P4edW83.png" class="mb-4 img-fluid" alt="maridev">
        <h4 class="text-center titulo">Mariana Medrano</h4>
        <legend class="pequeno">DEV FRONT END & UI DESIGNER</legend>
        <p class="pcard">
          Desenvolvedora Front-End com certificação de UI Designer e graduação em Pedagogia, possui ampla experiência
          com atividades que demandam habilidades de trabalho em equipe, comunicação, atenção aos detalhes e pesquisa.
        </p>
        <div class="block row justify-content-center">
          <a href="https://www.linkedin.com/in/marianamedrano/" target="_blank"><i class="fa fa-linkedin-square px-2"
              aria-hidden="true"></i></a>
          <a href="https://github.com/marianamedrano" target="_blank"><i class="fa fa-github px-2" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>

    <div class="col-md-3 text-center">
      <div class="d-flex flex-column">
        <img id="gui" src="https://imgur.com/04gZ930.png" class="mb-4 img-fluid" alt="guuidev">
        <h4 class="text-center titulo">Guilherme Moreira</h4>
        <legend class="pequeno">DEV FULL STACK JAVA</legend>
        <p class="pcard">
          Desenvolvedor Full-stack Java, com graduação em Engenharia Mecânica, se encontrou na área da tecnologia, onde sempre busca superar-se e encontrar novas soluções.</p>
        <div class="block row justify-content-center">
          <a href="https://www.linkedin.com/in/guilherme-moreira-souza/" target="_blank"><i class="fa fa-linkedin-square px-2"
              aria-hidden="true"></i></a>
          <a href="https://github.com/moreiraguui" target="_blank"><i class="fa fa-github px-2" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row justify-content-around">
    <div class="col-md-3 text-center">
      <div class="d-flex flex-column">
        <img id="gabe" src="https://imgur.com/l5BSOR1.png" class="mb-4 img-fluid" alt="gabedev">
        <h4 class="text-center titulo">Gabriele Pereira</h4>
        <legend class="pequeno">DEV FULL STACK JAVA</legend>
        <p class="pcard">
          Desenvolvedora Front-End, que se aventurou em sair da sua zona de conforto buscando ampliar seus conhecimentos, procurando intermediar os desafios enfrentados sempre com mentalidade de crescimento, persistência e orientação ao futuro.
        </p>
        <div class="block row justify-content-center">
          <a href="https://www.linkedin.com/in/souzagabriele/" target="_blank"><i class="fa fa-linkedin-square px-2"
              aria-hidden="true"></i></a>
          <a href="https://github.com/souzagabriele" target="_blank"><i class="fa fa-github px-2" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>

    <div class="col-md-3 text-center">
      <div class="d-flex flex-column">
        <img id="rafa" src="https://imgur.com/9PogLTC.png" class="mb-4 img-fluid" alt="rafadev">
        <h4 class="text-center titulo">Rafaella Silva</h4>
        <legend class="pequeno">DEV FULL STACK JAVA</legend>
        <p class="pcard">
          Desenvolvedora Full-Stack Java que encontrou na tecnologia a chance de ajudar e facilitar a vida de outras pessoas, além de seguir enfrentando desafios com curiosidade e persistência ao longo dos processos de aprendizagem e crescimento pessoal e profissional.
        </p>
        <div class="block row justify-content-center">
          <a href="https://www.linkedin.com/in/rafaellasisantos/" target="_blank"><i class="fa fa-linkedin-square px-2"
              aria-hidden="true"></i></a>
          <a href="https://github.com/santosrafaella" target="_blank"><i class="fa fa-github px-2" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>

    <div class="col-md-3 text-center">
      <div class="d-flex flex-column">
        <img id="samuel" src="https://imgur.com/oG5huE4.png" class="mb-4 img-fluid" alt="samueldev">
        <h4 class="text-center titulo">Samuel Silva</h4>
        <legend class="pequeno">DEV FULL STACK JAVA</legend>
        <p class="pcard">
          Recém formado no Ensino Médio, busca uma oportunidade como Desenvolvedor Full Stack Júnior. Atualmente está participando do bootcamp da Generation Brasil onde está se preparando tecnicamente, além disso, está estudando metodologias ágeis para entregar melhores resultados.
        </p>
        <div class="block row justify-content-center">
          <a href="https://www.linkedin.com/in/samuel-da-silva-12322b225/" target="_blank"><i class="fa fa-linkedin-square px-2"
              aria-hidden="true"></i></a>
          <a href="https://github.com/samuels-code" target="_blank"><i class="fa fa-github px-2" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>