<!-- Sobre -->
  <div class="p-5 mb-5 d-flex flex-column sobre">
    <legend class="pt-5">WEHUG</legend>
    <h2 class="mb-3 font-weight-bold">sobre o projeto</h2>
    <p class="pgrande">
      Este projeto foi desenvolvido durante o bootcamp Pessoa Desenvolvedora Web oferecido pela <a class="links" href="https://brazil.generation.org">
        <span class="font-weight-bold">Generation Brasil</span></a>.<br/> A partir do 16º Objetivo de Desenvolvimento Sustentável,
        <a class="links" href="https://brasil.un.org/pt-br/sdgs/16"><span class="font-weight-bold">Paz, Justiça e Instituições Eficazes</span>
        </a>, elaboramos a proposta de uma rede social para debates relevantes a respeito da temática <span class="font-weight-bold">preconceito</span>.</p>
  </div>
<!-- Fim do sobre -->



<!-- Fundoazul e video -->
<div class="bg-azul m-0 p-5">
  <div class="d-flex justify-content-center">
    <div class="m-5 embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/CBqmFrIhxx8" title="YouTube video player" frameborder="0" 
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>
<!-- Fim do fundo azul e video -->