<div class="container-fluid pb-3 pt-3">

    <nav class="navbar navbar-light row justify-content-between m-0">
        <div class="ml-2">
            <a class="navbar-brand text-preto hug" href="#"><span class="we">we</span>hug</a> 
        </div>
        <div class="mr-2 row">
            <a class="nav-link mr-2 text-preto pr-4 pl-4 entrar" href="#sobre">Projeto</a>
            <a class="nav-link mr-2 text-preto pr-4 pl-4 entrar" href="#sobrenos">Equipe</a>
            <a class="nav-link mr-2 text-preto pr-4 pl-4 entrar" routerLink="/entrar">Entrar</a>
            <a class="nav-link rounded ml-2 botao text-preto pr-4 pl-4" routerLink="/cadastro">Cadastrar</a>
        </div>
    </nav>

</div>