<div class="container-fluid bg-azul mt-0 pb-5">

    <h1 class="text-dark text-center mb-5 p-5">Atualizar tema</h1>

    <div class="row d-flex justify-content-center">
        <div class="col-md-6">

            <div class="form-group">
                <label class="f-montserrat fs-18" for="descricao">Tópico principal</label>
                <input [(ngModel)]='tema.topicoPrincipal' type="text" class="form-control" id="topicoPrincipal">
            </div>

            <div class="form-group">
                <label class="f-montserrat fs-18" for="descricao">Subtópico</label>
                <input [(ngModel)]='tema.subTopicos' type="text" class="form-control" id="subTopicos">
            </div>

            <div class="form-group">
                <label class="f-montserrat fs-18" for="descricao">Descrição</label>
                <input [(ngModel)]='tema.descricao' type="text" class="form-control" id="descricao">
            </div>

            <div class="d-flex flex-row mb-4 justify-content-end py-5">
                <button type="submit" class="voltar px-5 py-2 f-montserrat" routerLink='/feed'><i class="far fa-times-circle pr-2"></i>Voltar</button>                    
                <button type="submit" class="atualizar px-5 py-2 ml-3 f-montserrat" (click)="atualizar()"><i class="fas fa-check pr-2"></i>Atualizar</button>
            </div>
        </div>
    </div>


</div>