<div class="container col-md-12 pb-3 pt-3 bg-azul">
    <nav class="navbar navbar-light row justify-content-between m-0">
        <div class="ml-2">
            <a class="navbar-brand text-preto hug" routerLink="/feed"><span class="we">we</span>hug</a> 
        </div>
        <div class="row align-items-center">
            <a class="nav-link" routerLink="/feed"><img src="{{foto}}" alt="" class="foto"></a>
            <a class="nav-link" routerLink="/feed"><i class="fa fa-home" aria-hidden="true"></i></a>
            <a class="nav-link" (click)='sair()'><i class="fa fa-sign-out" aria-hidden="true"></i></a>
        </div>
    </nav>
</div>