@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");

h2 {
  color: #0f0e0c;
  font-family: Poppins;
}

.bg-pagina {
  background-color: #2b60e1 !important;
  padding: 70px 0;
}
.bg-cadastrar {
  background-color: #ffffff;
  border-radius: 10px;
}

button {
  font-family: Poppins, sans-serif !important;
}

.btn {
  border-color: #0f0e0c;
  border-width: 2px;
  border-style: solid;
}

.btn:hover {
  transform: scale(0.8);
  transition: all 0.3s ease;
}

.cadastrar {
  background: #0f0e0c;
  color: white;
}

.texto {
  color: #0f0e0c;
  font-family: Montserrat;
}

p {
  font-family: Poppins, sans-serif !important;
  font-size: 10pt !important;
}
