<div class="bg-pagina container-fluid">   
<div class="container-fluid bg-cadastrar col-md-12 d-flex flex-column justify-content-center align-items-center p-0">

                    <h2 class="flex-row text-center">Cadastre-se</h2>

                        <div class="form-group">
                        <label for="">Nome</label>
                        <input type="text" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="">Usuário</label>
                            <input type="text" class="form-control">
                            </div>

                            <div class="form-group">
                                <label for="">Senha</label>
                                <input type="password" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label for="">Confirmar senha</label>
                                    <input type="password" class="form-control">
                                    </div>

                                    <div class="form-group">
                                        <label for="">Link da Foto</label>
                                        <input type="text" class="form-control">
                                        </div>

                            <div class="d-flex justify-content-around">
                                <button type class="btn btn-outline-dark w-25">Cancelar</button>
                                <button type class="btn btn-dark w-25">Cadastrar</button>
                            </div>
                </div>
            </div>