.pagina-container{
    background-color: #2B60E1;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding:10px;
}
.cadastrar-container{
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding:10px;
}