<div class="bg-pagina container-fluid">
  <div class="container-fluid bg-cadastrar col-md-8 d-flex flex-column justify-content-center align-items-center p-0">
    
    <h2 class="flex-row text-center mt-5 pt-5">Cadastre-se</h2>
    
    <div class="col-md-8 pt-5 pb-5 texto">
      

      <div class="form-group">
        <label for="">Nome</label>
        <input [(ngModel)]='usuarios.nome' name="Nome" type="text" class="form-control" />
      </div>

      <div class="form-group">
        <label for="">Usuário</label>
        <input [(ngModel)]='usuarios.usuario' name="Usuario" type="text" class="form-control" />
      </div>

      <div class="form-group">
        <label for="">Senha</label>
        <input (input)="confirmSenha($event)" name="Senha" type="password" class="form-control" />
      </div>

      <div class="form-group">
        <label for="">Confirmar senha</label>
        <input [(ngModel)]='usuarios.senha' name="confirmarSenha" type="password" class="form-control" />
      </div>

      <div class="form-group">
        <label for="">Link da Foto</label>
        <input [(ngModel)]='usuarios.foto' name="foto" type="text" class="form-control" />
      </div>

      <div class="form-group texto">
        <label for="">Selecione o tipo de usuario</label>
        <select 
          (change)="tipoUsuario($event)"
          name="tipo"
          class="form-control"
        >
          <option class="texto" value="">Selecione o tipo de usuario</option>
          <option class="texto" value="admin">Administrador</option>
          <option class="texto" value="padrao">Padrão</option>
        </select>
      </div>

      <div class="row justify-content-between">
        <button type="button" routerLink='/inicio' class="btn mx-3 my-5 px-5">Cancelar</button>
        <button type="button" routerLink='/cadastro' class="btn mx-3 my-5 cadastrar px-5" (click)='cadastrar()'>Cadastrar</button>
    </div>

    </div>
  </div>
</div>
