<div class="container-fluid">

    <div class="row bgTudo">
      <div class="col-md-6">
  
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 text-white mt-5">
                <h1 class="text-dark">Seja Bem-vindo(a), ...!</h1>
                <h5 class="text-dark">Expresse aqui os seus pensamentos e opiniões!</h5>                                          
                </div>
            </div>           
  
            <div class="row d-flex justify-content-center mt-3 mb-5">
                <div class="col-md-6">
                    <button class="btn btn-dark mr-2" data-toggle="modal" data-target="#novaPostagem">Nova Postagem</button>
                    <a class= "btn btn-success btn-outline-light" href="#postagens">Ver Postagens</a>
                </div>
            </div>
  
        </div>
  
        <div class="col-md-6 d-flex justify-content-center">
            <img src="https://i.imgur.com/waygN75.png" alt="" width="500px" height="500px"> 
  
      </div>
    </div>
  </div>

  <div class="modal fade" id="novaPostagem" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="bgModal modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="novaPostagemLabel">Nova Postagem</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <label for="descricao">Descrição</label>
            <input [(ngModel)]='postagem.descricao' type="text" class="form-control" id="descricao" placeholder="Descrição">
          </div>

          <div class="form-group">
            <label for="titulo">Link da Foto</label>
            <input [(ngModel)]='postagem.midia' type="text" class="form-control" id="linkFoto" placeholder="Link da foto">
          </div>

          <div class="form-check mt-4 mb-3">
            <input [(ngModel)]='postagem.publicacaoAtiva' class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              Publicação Ativa
            </label>
          </div>

          <div class="form-group">
            <label for="texto">Escolha um tema ou <a data-dismiss="modal" routerLink="/temas" href=""> cadastre um novo</a>: </label>
          <select class="form-control" name="tema" id="tema" [(ngModel)]='idTema' (change)='findByIdTema()'>
                <option *ngFor='let item of listaTemas' value="{{item.id}}">{{item.descricao}}</option>
          </select>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-danger mb-2" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success" (click)='publicar()'>Publicar</button>
        </div>
      </div>
    </div>
</div>