.bg-azul{
    background: rgb(225,235,250);
    background: linear-gradient(180deg, rgba(225,235,250,1) 16%, rgba(249,249,249,1) 100%);
}

.nova{
    background-color: #2B60E1;
    border-style: none;
    color: white;
    border-radius: 2px;
}

.nova:hover{
    background-color: #7193e9;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.ver{
    background-color: #D3DEEF;
    border-style: none;
    color: #0838AE;
    border-radius: 2px;
}

.ver:hover{
    background-color: #bccde7;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.fa{
    font-size: 1rem;
}

h1{
    font-size: 1.5rem;
    color: #202225;
    font-family: Montserrat;
    font-weight: bold;
}

h4{
    font-size: 1.2rem;
    color: #202225;
    font-family: Montserrat;
}

h5{
    font-size: 1rem;
    color: #0F0E0C;
    font-family: Montserrat;
}

label{
    font-family: Montserrat;
    color: #0F0E0C;
}

a{
    text-decoration: none;
}

.menupostagens{
    color: #0F0E0C;
    font-family: Montserrat;
    font-size: 1rem;
}

.menupostagens:hover{
    color: #535353;
}

small{
    color: #929292;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-family: Poppins;
}

p{
    font-family: Poppins;
    color: #535353;
    font-size: 0.8rem;
    line-height: 1.8;
}

.cancelar{
    background-color: transparent;
    color: #C31414;
    border-style: solid;
    border-color: #C31414;
    border-radius: 2px;
}

.publicar{
    background-color: #2B60E1;
    color: white;
    border-color: #2B60E1;
    border-radius: 2px;
}

.card{
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.imagem{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.editar{
    border: none;
    background-color: none;
    color: #0F0E0C;
}

.apagar{
    border: none;
    background-color: none;
    color: #C31414;
}

.tema{
    color:#535353;
}

