<div class="container-fluid bg-azul mt-0 pb-5">
  <div class="row">

    <!-- Menu de edição de usuário -->

    <div class="col-md-2 d-flex justify-content-center py-3 ml-5">

        <div>
        <div class="card card2 d-flex align-items-center justify-content-center pt-5">
          <img src="{{foto}}" class="foto2" alt=" ">
          <div class="card-body">
            <h4 class="card-title text-center">{{nome}}</h4>
            <hr class="py-1">
            <a (click)='findByIdUser()' class="botaolateral btn mb-3 w-100" id="nav-minhasPostagens-tab"
              data-toggle="tab" href="#minhasPostagens" role="tab" aria-controls="nav-minhasPostagens"
              aria-selected="false">Minhas postagens</a>

            <a href="#" class="botaolateral btn mb-3 w-100" [routerLink]="['/usuario-edit', id]">Editar perfil</a>

            <div class="dropdown">
              <button class="publicar btn mb-3 w-100" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-expanded="false">Links úteis
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="https://mdh.metasix.solutions/portal/servicos/informacao?t=50&servico=233" target="_blank">Dique 100</a>
                 <a class="dropdown-item" href="https://www.cvv.org.br/" target="_blank">Centro de Valorização da Vida</a>
                <a class="dropdown-item" href="https://www.al.sp.gov.br/transparencia/participe/sos-racismo/">SOS Racismo</a>
                <a class="dropdown-item" href="https://justica.sp.gov.br/index.php/contato/denuncia-online/">SOS Discriminação</a>
              </div>
            </div>

            <a class="btn btnSair w-100" (click)='sair()'><i class="fas fa-sign-out-alt pr-1"></i>Sair</a>
            
          </div>
        </div>
      </div>
    </div>
    <!-- /Menu de edição de usuário -->

    <div class="col-md-8 px-5 mx-5">

      <!-- H1 e botões de ver e fazer nova postagem -->
        <div class="row d-flex flex-column align-items-start justify-content-start">
          <h1 class="py-3">Publicações</h1>
          <div class="d-flex flex-row justify-content-start">
            <a class="nova btn mr-3 px-2" data-toggle="modal" data-target="#novaPostagem"><i
                class="fas fa-plus"></i> Nova postagem</a>
            <a class="ver btn px-2" href="#postagens">Ver postagens</a>
          </div>
        </div>
      <!-- Fim do H1 e botões de ver e fazer nova postagem -->

      <!-- Barra de navegação de postagens -->
      <div class="pt-5" id="postagens">
        <nav>
          <div class="d-flex justify-content-start nav nav-tabs mb-5" id="nav-tab" role="tablist">
            <a (click)='getAllPostagens()' class="pr-5 menupostagens" id="nav-todasPostagens-tab" data-toggle="tab"
              href="#todasPostagens" role="tab" aria-controls="nav-todasPostagens" aria-selected="true">Todas as
              postagens</a>
            <a (click)='findByIdUser()' class="pr-5 menupostagens" id="nav-minhasPostagens-tab" data-toggle="tab"
              href="#minhasPostagens" role="tab" aria-controls="nav-minhasPostagens" aria-selected="false">Minhas
              postagens</a>
            <a class="menupostagens" id="nav-postagemTema-tab" data-toggle="tab" href="#postagemTema" role="tab"
              aria-controls="nav-postagemTema" aria-selected="false">Postagens por tema</a>
          </div>
        </nav>
      </div>
      <!-- Fim da barra de navegação de postagens -->

      <div class="row mx-0 mb-3 d-flex justify-content-start">
        <div class="col-md-10 mb-3 mx-0 p-0">

          <!-- Todas as postagens -->
          <div class="tab-content d-flex justify-content-start" id="nav-tabContent">
            <div class="tab-pane fade show active" id="todasPostagens" role="tabpanel"
              aria-labelledby="nav-todasPostagens-tab">
              <div class="flex-column mt-3 bg-white d-flex justify-content-center p-5 card"
                *ngFor='let item of listaPostagens | orderBy : key : reverse'>
                <div class="row">
                  <img class="rounded-circle" src={{item.usuario.foto}} alt="" width="50px" height="50px">
                  <div class="alignText">
                    <h4 class="pb-0 mb-0">{{item.usuario.nome}}</h4>
                    <small><i class="fas fa-calendar-alt pr-1"></i>{{item.data | date:
                      'dd/MM/yyyy'}}<i class="fas fa-clock pr-1 pl-2"></i>{{item.data | date: 'HH:mm'}}</small>
                  </div>
                </div>
                <small class="mt-4 font-weight-bold tema">{{item.tema.descricao}}</small>
                <p>{{item.descricao}}</p>
                <img src="{{item.midia}}" alt="" class="img-fluid imagem">
                <small class="mt-3">#{{item.tema.topicoPrincipal}} #{{item.tema.subTopicos}}</small>
              </div>
            </div>
            <!-- Fim de todas as postagens -->

            <!-- Minhas postagens -->
            <div class="tab-pane fade" id="minhasPostagens" role="tabpanel" aria-labelledby="nav-minhasPostagens-tab">
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="minhasPostagens" role="tabpanel"
                  aria-labelledby="nav-todasPostagens-tab">
                  <div class="flex-column mt-3 bg-white d-flex justify-content-center p-5 card"
                    *ngFor='let item of usuario.postagem | orderBy : key : reverse'>
                    <div class="row">
                      <img class="rounded-circle" src={{usuario.foto}} alt="" width="50px">
                      <div class="alignText">
                        <h4 class="pb-0 mb-0">{{usuario.nome}}</h4>
                        <small class="text-muted"><i class="fas fa-calendar-alt pr-1"></i>{{item.data | date:
                          'dd/MM/yyyy'}} <i class="fas fa-clock pr-1 pl-2"></i>{{item.data | date: 'HH:mm'}}</small>
                      </div>
                    </div>
                    <small class="mt-4 font-weight-bold tema">{{item.tema.descricao}}</small>
                    <p>{{item.descricao}}</p>
                    <img src="{{item.midia}}" alt="" class="img-fluid imagem">
                    <small class="mt-3">#{{item.tema.topicoPrincipal}} #{{item.tema.subTopicos}}</small>

                   <div class="row d-flex justify-content-end">
                      <a [routerLink]="['/postagem-edit', item.id]" class="text-info mr-1" href=""><i
                          class="fas fa-edit pr-1 text-dark"></i></a>
                      <a [routerLink]="['/delete-postagem', item.id]" class="text-danger mr-2" href=""><i
                          class="fas fa-trash-alt pr-1"></i></a>

                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Fim de minhas postagens -->

            <!-- Postagens por tema -->
            <div class="tab-pane fade" id="postagemTema" role="tabpanel" aria-labelledby="nav-postagemTema-tab">
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="postagemTema" role="tabpanel"
                  aria-labelledby="nav-postagemTema-tab">
                  <div *ngFor='let tema of listaTemas | orderBy : key : reverse'>
                    <div *ngFor='let item of tema.postagem'>
                      <div class="flex-column mt-3 bg-white d-flex justify-content-center p-5 card">
                        <div class="row">
                          <img class="rounded-circle" src={{item.usuario.foto}} alt="" width="50px">
                          <div class="alignText">
                            <h4 class="pb-0 mb-0">{{item.usuario.nome}}</h4>
                            <small class="text-muted"><i class="fas fa-calendar-alt pr-1"></i>{{item.data | date:
                              'dd/MM/yyyy'}} <i class="fas fa-clock pr-1 pl-2"></i>{{item.data | date: 'HH:mm'}}</small>
                          </div>
                        </div>
                        <small class="mt-4 font-weight-bold tema">{{tema.descricao}}</small>
                        <p>{{item.descricao}}</p>
                        <img src="{{item.midia}}" alt="" class="img-fluid imagem">
                        <small class="mt-3">#{{tema.topicoPrincipal}} #{{tema.subTopicos}}</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Fim de postagem -->


        </div>
      </div>
    </div>

    <div class="col-md-2"></div>

    <!-- Modal -->
    <div class="modal fade" id="novaPostagem" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="bgModal modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="novaPostagemLabel">Nova Postagem</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <div class="form-group mt-2">
              <label for="descricao"><i class="fa fa-pencil" aria-hidden="true"></i> Publicação</label>
                <textarea [(ngModel)]='postagem.descricao' class="form-control" name="descricao" id="descricao" placeholder="Digite aqui o que deseja publicar"
                        rows="6"></textarea>
            </div>

            <div class="form-group mt-4">
              <label for="titulo"><i class="fa fa-picture-o" aria-hidden="true"></i> Imagem</label>
              <input [(ngModel)]='postagem.midia' type="text" class="form-control" id="linkFoto"
                placeholder="Insira aqui o link da imagem que deseja publicar">
            </div>


            <div class="form-group mt-4">
              <label for="texto"><i class="fa fa-hashtag" aria-hidden="true"></i> Escolha um tema ou <a data-dismiss="modal" routerLink="/temas" href=""> cadastre um
                  novo</a>: </label>
              <select class="form-control" name="tema" id="tema" [(ngModel)]='idTema' (change)='findByIdTema()'>
                <option *ngFor='let item of listaTemas' value="{{item.id}}">{{item.descricao}}</option>
              </select>
            </div>

            <div class="form-check mt-4">
              <input [(ngModel)]='postagem.publicacaoAtiva' class="form-check-input" type="checkbox" value=""
                id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                Publicação visível
              </label>
            </div>


          </div>
          
          <div class="modal-footer mt-2">

            <button type="button" class="voltar px-5 py-2" data-dismiss="modal">Voltar</button>
            <button type="button" class="publicar px-5 py-2" (click)='publicar()' data-dismiss="modal">Publicar</button>
          </div>
        </div>
      </div>
    </div>
