@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");

.bg-azul {
  background: rgb(225, 235, 250);
  background: linear-gradient(
    180deg,
    rgba(225, 235, 250, 1) 16%,
    rgba(249, 249, 249, 1) 100%
  );
}

.nova {
  background-color: #2b60e1;
  color: white;
  border-radius: 3px;
  font-family: Poppins, sans-serif !important;
  font-size: 0.9rem;
  margin-right: 1rem;
  padding: 2 1rem;
}

.nova:hover {
  background-color: #7193e9;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.ver {
  background-color: #d3deef;
  color: #0838ae;
  border-radius: 3px;
  font-family: Poppins, sans-serif !important;
  font-size: 0.9rem;
  margin-right: 1rem;
  padding: 2 1rem;
}

.ver:hover {
  background-color: #bccde7;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.fa {
  font-size: 1rem;
}

h1 {
  font-size: 1.5rem;
  color: #202225;
  font-family: Montserrat;
  font-weight: bold;
}

h4 {
  font-size: 1.2rem;
  color: #202225;
  font-family: Montserrat;
}

h5 {
  font-size: 1rem;
  color: #0f0e0c;
  font-family: Montserrat;
}

label {
  font-family: Montserrat;
  color: #0f0e0c;
}

a {
  text-decoration: none;
  font-family: Poppins;
  font-size: 0.9rem;
}

.menupostagens {
  color: #0f0e0c;
  font-family: Montserrat;
  font-size: 0.9rem;
}

.menupostagens:hover {
  color: #535353;
}

small {
  color: #afafaf;
  font-family: Poppins;
  letter-spacing: 3px;
  font-size: 0.8rem;
  text-transform: uppercase;
}

p {
  font-family: Poppins;
  color: #535353;
  font-size: 0.8rem;
  line-height: 1.8;
}

.voltar {
  background-color: #0f0e0c;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  font-family: Poppins;
  font-size: 0.9rem;
}

.voltar:hover {
  transform: scale(0.8);
  transition: all 0.3s ease;
}

.botaolateral{
  background-color: #202225;
  color: white;
  border-color: #202225;
  border-radius: 2px;
}

.botaolateral:hover{
  transform: scale(0.8);
  transition: all 0.3s ease;
}

.publicar {
  background-color: #2b60e1;
  color: white;
  border-radius: 2px;
  border: none;
  font-family: Poppins;
  font-size: 0.9rem;
}

.publicar:hover {
  transform: scale(0.8);
  transition: all 0.3s ease;
}

.card {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.imagem {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.alignText {
  margin-left: 15px;
  padding-top: 7px;
}

.fa-bars{
  color: #202225;
}

.dropdown-menu{
  background-color: white;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  padding: 0;
}

.dropdown-item{
  padding: 1rem 2rem;
}

.dropdown-item:hover{
  background-color:#2d60e1;
  color: white;
  margin: 0;
}

.posts{
  padding: 3rem;
}

.col-md-8{
  margin: 0 3rem;
  padding: 0 3rem;
}

.menumobile{
  margin: 0 3rem;
}

/* ------------- Menu Lateral Esquerdo ------------- */

.bgBranco {
  background-color: white !important;
  border-radius: 10px !important;
  margin: 20px 20px 0 !important;
  padding: 10px 10px !important;
}
.btnSair {
  background-color: none;
  border: none;
}

.btnSair:hover {
  transform: scale(0.8);
  transition: all 0.3s ease;
}

.foto2 {
  border-radius: 100%;
  width: 150px;
}

.foto {
  height: 53px;
  width: 53px;
  border-radius: 100%;
}

.bgBranco {
  display: none;
}
.usuario {
  width: 16rem !important;
}

.tema {
  color: #535353;
}




@media screen and (max-width: 1000px) {
  .colusuario{
    display: none !important;
  }

  .desktop{
    display: none;
  }

  .nova, .ver{
    margin-right: 0.5rem;
  }

  .posts{
    padding: 3rem;
    min-width: 100vw;
  }

  .col-md-8{
    margin: 0;
    padding: 0;
    min-width: 80vw;
  }

  .publicacoes{
    margin: 0 3rem;
  }
  

}

@media screen and (min-width: 1000px) {
  .dropleft{
    display: none;
  }

  .mobile{
    display: none;
  }
}
