<div class="container ">
    <div class="row my-4">
        <div class="col-md-12 d-flex justify-content-center">
            <h1 class="text-center text-dark pt-3">Atualizar meu usuário</h1>

        </div>
    </div>
    <div class="col-md-12 d-block justify-content-center p-0">     

        <div class="form-group">
            <label for="usuario">Nome</label>
            <input [(ngModel)]="usuario.nome" class="form-control" type="text" name="nome" id="nome"
            placeholder="Digite aqui o seu Nome">
        </div>

        <div class="form-group">
            <label for="usuario">E-mail</label>
            <input [(ngModel)]="usuario.usuario" class="form-control" type="text" name="usuario" id="usuario"
            placeholder="Digite aqui o seu e-mail">
        </div>

        <div class="form-group">
            <label for="foto">Link da Foto</label>
            <input [(ngModel)]="usuario.foto" class="form-control" type="text" name="foto" id="foto"
            placeholder="Digite aqui o link da sua foto">
        </div>
        
        <div class="form-group d-flex justify-content-center">    
            <div class="col-md-6 p-0 pr-1">
                <label for="senha">Senha</label>
                <input (input)="confirmSenha($event)" class="form-control" type="password" name="senha" id="senha"
                placeholder="Digite aqui a sua senha">
            </div>
            
            <div class="col-md-6 p-0 pl-1">
                <label for="confirmSenha">Confirmar Senha</label>
                <input [(ngModel)]="usuario.senha" class="form-control" type="password" name="senha" id="senha"
            placeholder="Confirme aqui sua senha">
            </div>
        </div>             

        <div class="form-group mb-4">
            <label for="tipo">Tipo de Usuário</label>
            <select class ="form-control" name="tipo" id="tipo" (change)="tipoUsuario($event)">
                <option>Selecione um tipo de usuário:</option>
                <option value="normal">Normal</option>
                <option value="adm">Administrador</option>
            </select>
        </div>
        
        <div class="d-flex flex-row-reverse mb-4">
            <button type="submit" class="btn btn-success ml-4 w-100" (click)="atualizar()"><i class="fas fa-check pr-2"></i>Atualizar</button>
            <button type="submit" class="btn btn-danger w-100" routerLink='/feed'><i class="far fa-times-circle pr-2"></i>Cancelar</button>                    
        </div>

   
    </div>