<div class="bgWeHug container-fluid">
                   
            <div class="arredoLogin container col-md-12 d-flex p-0" >
                
                <div class=" bgLeft col-md-6 d-block justify-content-center align-items-center flex-column p-0" id="tamEntrar">                                       
                    <h2 class="d-block flex-row text-left m-0">R E D E </h2>
                    <p class="weHugText d-block flex-row text-left">we<span class="weHugText">hug</span></p>
                 
                    <p class="textMenu text-left p-0 m-0">Espaço com fóruns voltados para discussões acerca de questões sociais como preconceito e suas ramificações.
                         
                        </p>
                        <div class="w-100 d-flex justify-content-center"> <img class="imgLogin img-fluid align-items-center justify-content-center" src="https://i.imgur.com/H5aS494.png" alt="WeHug">  </div>        
                                                  
                    </div>                    
    
                <div class="bgRight col-md-6 d-block justify-content-center align-items-center p-0" id="tamEntrar">                                       
                    <h1 class="text-center mb-5">Entrar</h1>

                    <div class="formText form-group">
                        <label for="usuario">Usuário</label>
                        <input class="form-control" type="text" name="usuario" id="usuario"
                        placeholder="Digite aqui o seu usuário">
                    </div>
                    <div class="formText form-group">
                        <label for="senha">Senha</label>
                        <input class="form-control" type="password" name="senha" id="senha"
                        placeholder="Digite aqui a sua senha">                                      
                    </div>

                    <div class="d-flex justify-content-center pt-1">
                        <button type="submit" class ="btn px-5">Entrar</button>
                    </div>
                    <hr class="mt-4 mb-4">
                    <p class="text-center" style="font-size: 10pt;">Não tem uma conta? <a routerLink="/cadastro">Cadastre-se</a></p>
                    
                </div>

            

        </div>

       

        </div>
   
 
