<div class="bg-azulclaro container-fluid d-flex align-items-center">
<div class="col-md-12 flex-column align-items-center p-0 my-5 bg-azulclaro row justify-content-center">
    <div class="container row justify-content-center">
        <img src="https://i.imgur.com/QH0kBn1.png" alt="logo wehug" class=""> 
    </div>
    <div class="container col-md-4 row justify-content-center">
        <p class="mt-5 resumo text-center">Nossa rede oferece um amplo espaço com fóruns voltados para discussões acerca de questões sociais, como <span class="font-weight-bold">preconceito</span> e suas ramificações.</p>
    </div>
    <div class="col-md-8 d-flex flex-row justify-content-center p-0">
        <button type="button text-center" routerLink='/entrar' class="btn m-3 mb-5 entrar w-25">Entrar</button>
        <button type="button text-center" routerLink='/cadastro' class="btn m-3 mb-5 cadastrar px-1 w-25">Cadastrar</button>
    </div>
</div>
</div>
<app-sobre></app-sobre>
<app-sobrenos></app-sobrenos>
