<div class="bg-azulclaro d-flex align-items-center">
<div class="container-fluid col-md-12 p-5 m-0 bg-azulclaro row justify-content-center">
    <div class="container row justify-content-center">
        <img src="https://i.imgur.com/QH0kBn1.png" alt="logo wehug" class=""> 
    </div>
    <div class="container col-md-4 row justify-content-center">
        <p class="mt-5 resumo text-center">Nossa rede oferece um amplo espaço com fóruns voltados para discussões acerca de questões sociais, como <span class="font-weight-bold">preconceito</span> e suas ramificações.</p>
    </div>
    <div class="container col-md-12 row justify-content-center">
        <button type="button" routerLink='/entrar' class="btn m-3 mb-5 entrar pl-5 pr-5">Entrar</button>
        <button type="button" routerLink='/cadastro' class="btn m-3 mb-5 cadastrar pl-5 pr-5">Cadastrar</button>
    </div>
</div>
</div>
<app-sobre></app-sobre>
<app-sobrenos></app-sobrenos>